body{
    background-color: #485154;
    margin: 0;
    padding: 0;
}
#header{   
    padding-top:30px ;
    background-color: #1C2021;
    width: 100%;
    height: 20%;
    box-shadow: 0px 0px 50px 0px;
    font-family: Impact;
    font-size: 45px;
    color: #71848A;
}

#header h1{
    display: inline;
    margin-top: 25px;
    color: #2ecc71;
    padding-left: 10%;
    cursor: default;
}

#navbar_container{
    padding-left: 50px;
    background-color: #1C2021;
}

#navbar {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

#navbar .navitem {
    float: left;
    border-right: 1px solid #bbb;
}

#navbar .navitem:first-child{
    border-left: 1px solid #bbb;
}

#navbar .navitem:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
}

#navbar .navitem  a {
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar .navitem  a:hover:not(.active) {
    background-color: #111;
}

#navbar .logout{
    float:right;
}

.active {    
    background-color: #4CAF50;
}

#header_navbar{
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color:  #485154;
}

#layout{          
    position: relative;
    width: 700px;
    height: 400px;
    background-color: #485154;
    border-color: whitesmoke;
    border-style: inset;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:10px;
    vertical-align: top;
}

#messageContainer{    
    height: 350px;
    overflow: auto;
    position: relative
}

#newMessage{
    width:630px;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-radius: 10px;
    margin:10px;
}

#sendMessage{
    position:absolute;
    padding-left: 5px;
    padding-right: 5px;
    bottom: 0px;
    right: 0px;
    border-radius: 10px;
    margin:10px;
}

.sender{
    text-align: left;
    width:400px;
    background-color:lightgreen;
    float:right;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    font-size: 15px;
}

.reciever{
    text-align: left;
    width:400px;
    background-color:whitesmoke;
    float:left;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    font-size: 15px;
}

.mtime{
    vertical-align: bottom;
    font-size: 10px;
    float:right;
}

#users{          
    vertical-align: top;
    width: 200px;
    height: 400px;
    display: inline-block;
    background-color: #485154;
    border-color: whitesmoke;
    border-style: inset;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    overflow: auto;
}

.user{
    text-align: left;
    position: relative;
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.muser{
    background-color: #4CAF50;
}
.muser .left{
    background-color: black;
}

.time{
    position: absolute;
    bottom: 0;
    right:0;
    color:lightgrey;
    font-size: 10px;
}

.left{   
    margin-left: 5px;    
    padding:3px;
    background-color:#2ecc71 ;
    border-radius: 50%;
    font-size: 15px;
}

.user img{
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: white;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#userDetails{
    font-family: sans-serif;
    background: whitesmoke;        
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;    
    display: none;    
    position: absolute;
    right:25px;    
    z-index: 5;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

#userDetails img{
    max-width: 90px;
    width: auto;
    height: 90px;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}